import os
os.getcwd()

**User Authentication System**

feature list

- SignUp 
    -username (wiill be unique)
    -email
    -password
    -personaldetails
        -name
        -ph. no.
        -dob
    -Password recovery
        -backupcode(autogenerated -5)
        -security question -2
        -otp from ph no (twilio)
    
-Signin
    -forgot password
        -password recovery
    -username
    -password
    -change password
    -profile

-database

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('database.csv')
df

Empty DataFrame
Columns: [userId, username, email, password, name, phone_number, DOB, backup_code, SecAns1, SecAns2]
Index: []

In [6]:
# if you want t enter data

#df.loc[len(df)]= [123,'an123','an@123.com','1234','An Rose','1563248789','4/7/1999','asfefe','bald','joy']

In [10]:
def initializeDatabase():
    import pandas as pd
    df=pd.read_csv('database.csv')
    return df

In [13]:
def personalinfo():
    name= input("Enter your name")
    import re
    while True:
        phone= input("Enter your phone no.")
        if phone.isdigit() and len(phone) == 10:
            break
        else: print ('number not valid')
    while True:
        dob=input("Enter your date of birth [DD/MM/YYYY]")
        pattern = r'^\d{2}/\d{2}/\d{4}$'
        if re.match(pattern, dob):
            break
        else:
            print("Invalid date format. Please use DD/MM/YYYY format.") 
        
    return name,phone,dob

#personalinfo()

In [14]:
def takemail():
    import re
    while True:
        mail = input("Enter your email address: ").lower()
        pattern = r'^[a-z0-9._%+-]+@[a-z0-9.-]+\.com$'
        
        if re.match(pattern, mail):
            return mail
        else:
            print("Invalid email format. Please try again.")

#takemail()

In [16]:
def password():
    import re
    while True:
        passw= input("enter your password")
        if len(passw) < 8:
            print ("Password is too short (min 8 characters).")
        if not re.search(r"[A-Z][a-z][0-9]", passw):
            print ("Password needs at least one uppercase and lowercase letter and a number.")
        if not re.search(r"[!@#$%^&*()_+\-=\[\]{}|\\;:'\",.<>/?]", passw):
            print ("Password needs at least one special character.")
        else:
            break
    return passw

#password()

In [17]:
def securityQ():
    a1= input("Enter the name of your pet")
    a2= input("enter the name of your fav book")

    return a1,a2

#securityQ()

In [22]:
def updatedata(df):
    df.to_csv('database.csv', index = False)
    print('Update Successful')
    return

In [24]:
def backupcode():
    import random as r
    al='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    dig='012345679'
    poss=al+dig
    s=''
    for i in range(r.randint(5,6)):
        char=r.choice(poss)
        s=s+char+''
    return s

#backupcode()

In [26]:
def signIn():
    pass

In [28]:
def signUp():
    print('registering new user')
    df=initializeDatabase()
    while True:
        user=input("Enter username or 0 to exit").lower()
        if user=='0':
            print("visit again")
            break
        if user not in df.username.tolist():
            mail= takemail()
            if mail not in df.email.tolist():
                name,phone,dob=personalinfo()
                passw=password()
                a1,a2=securityQ()
                code=backupcode()
                print("your backupcode is",code)
                userid= len(df) + 1
                df.loc[len(df)] = [userid, user, mail, passw, name, phone, dob, code, a1, a2]
                updatedata(df)
                print("Congratulations on your registration!")
                break
            else: 
                print('email already registered')
        else:
            print("username already taken")


#signUp()

In [ ]:
def homepage():
    mode=input('''
    Enter 1 for SignUp
    Enter 2 for SignIn
    Enter 0 to exit
    :''')
    if mode=='1':
        
        signUp()
    elif mode=='2':
        print('signing in')
        signIn()
    elif mode=='0':
        print('Thankyou for visiting')
    
homepage()

    Enter 1 for SignUp
    Enter 2 for SignIn
    Enter 0 to exit
    : 1

registering new user

Enter username or 0 to exit Rana
Enter your email address:  rana@123.com
Enter your name Tannu
Enter your phone no. 2201730093
Enter your date of birth [DD/MM/YYYY] 18/09/2020

In [43]:
df

,userId,username,email,password,name,phone_number,DOB,backup_code,SecAns1,SecAns2
0,1,ru,sdf@dfg.com,fefsWWE23434$,er,7896541258,48/78/4589,BSRHM,cat,lotm
1,2,rana,rana@123.com,ranaA@123,tannu,2201730039,18/09/2020,VJ72R5,cat,lotm
2,3,rana,rana@123.com,passW@123,tannu,2201730039,18/09/2020,2G22S7,dog,tocf